In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.svm import SVR, SVC
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.metrics import mean_squared_error, mean_absolute_error, accuracy_score

In [5]:
df = pd.read_csv('house.csv')
df

,House age,Distance to the nearest MRT station,Number of convenience stores,Latitude,Longitude,House price of unit area
0,13.3,4082.01500,8,25.007059,121.561694,6.488673
1,35.5,274.01440,2,25.012148,121.546990,24.970725
2,1.1,1978.67100,10,25.003850,121.528336,26.694267
3,22.2,1055.06700,5,24.962887,121.482178,38.091638
4,8.5,967.40000,6,25.011037,121.479946,21.654710
...,...,...,...,...,...,...
409,18.3,170.12890,6,24.981186,121.486797,29.096310
410,11.9,323.69120,2,24.950070,121.483918,33.871347
411,0.0,451.64190,8,24.963901,121.543387,25.255105
412,35.9,292.99780,5,24.997863,121.558286,25.285620
413,12.0,90.45606,6,24.952904,121.526395,37.580554

In [11]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

        # Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

        # Standardize the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [21]:
model = RandomForestRegressor(n_estimators=1000,max_depth = 3, random_state=42)

In [22]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

        # Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print(f'Model Performance:')
print(f'Mean Squared Error: {mse}')
print(f'Mean Absolute Error: {mae}')

Model Performance:
Mean Squared Error: 124.62445453044299
Mean Absolute Error: 9.599536650955983